**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/TestResults
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep
**/node_modules
README.md
docs
tests
scripts
LICENSE
.git*
